<div class="p-4 bg-[#FFF455]">
  <div
    class="recipe-head text-[50px] md:text-[100px] h-[300px] md:h-[500px] flex justify-center items-center text-[#007F73]"
  >
    <h1>
      Make O <br />
      recipes
    </h1>
  </div>

  <div class="w-[60%] my-2 mx-auto items-center">
    <input
      class="w-full h-12 p-5 rounded-full border-2 border-[#4CCD99] focus:outline-none focus:border-[#007F73]"
      type="text"
      placeholder="Search your cravings"
      [(ngModel)]="searchterm"
      (change)="handleChange()"
    />
  </div>
  <div class="recipes flex flex-wrap justify-center P-2">
    <div
      class="card flex space-x-5 justify-between cursor-pointer bg-[#4CCD99] p-2 w-full md:w-[60%] m-2 text-[#FFF455]"
      *ngFor="let recipe of recipes"
      (click)="navigateToRecipe(recipe.id)"
    >
      <div class="flex flex-col space-y-1 justify-start">
        <h3 class="font-bold text-2xl">{{ recipe.name }}</h3>
        <img
          class="w-[200px] h-[150px]"
          [src]="recipe.image"
          alt="Recipe image"
        />
      </div>

      <div class="flex flex-col justify-center text-right font-semibold">
        <div>
          Prepare time :
          {{ recipe.prepTimeMinutes + recipe.cookTimeMinutes  }}Min
        </div>
        <div>Difficulty : {{ recipe.difficulty }} to prepare</div>
        <div>Serves {{ recipe.servings }} people</div>
        <div class="italic">Cuisine : {{ recipe.cuisine }}</div>
        <div>
          Meal Type:
          <span *ngFor="let type of recipe.mealType">{{ type }} </span>
        </div>
      </div>
    </div>
  </div>
</div>
